<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 style ="background: black"><span style = "color: white">SPORTS STORE</span></h2>
<div>
  <fieldset>
    <legend>Sports store</legend>
    <div>
      <table border="1">
        <thead>
          <tr>
            
            <th>Category</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pdts | unique :'p.category' ">
            <td> {{ p.category }}</td>
            <td style ="background-color:aqua"> {{ p.name }} </td>
            <td>
            <button (click)="getAllProductswithCategory(p.id)">Update</button></td>
            <td> {{ p.category }} , {{ p.id }} </td>
          </tr>
        </tbody>
    
      </table>
     
    </div>
  </fieldset>

